<div class="photo_review_popup__review_message">
    {{{breaklines text}}}
</div>
<div class="review_top">
    <a class="show_photo_review__link_to_product"
       data-url="{{productUrl}}">
        <div class="review_top__product_thumbnail">
            <img width="28" height="28"
                 src="{{productThumbnailUrl}}">
        </div>
        <div class="review_top__product_user_name">
            <div class="review_top__product_name">
                {{productName}}
            </div>
            <div class="review_top__user_name">
                {{userName}}
            </div>
        </div>
    </a>
    <div class="review_top__show_review_detail">
    </div>
</div>