<div class="show_photo_review__info">
    <div class="show_photo_review__product_thumbnail">
        <a class="show_photo_review__link_to_product js-link-iframe" data-url="{{productUrl}}">
            <img src="{{productThumbnailUrl}}" alt="{{productName}}" width="70" height="70"
                 class="show_photo_review__link_to_product">
        </a>
    </div>
    <div class="show_photo_review__product_info">
        <div class="show_photo_review__product_name">
            <a class="show_photo_review__link_to_product js-link-iframe"
               data-url="{{productUrl}}">{{productName}}</a>
        </div>
        <div class="show_photo_review__product_score">

            <div class="show_photo_review__star_rating_container">
                {{{star}}}
            </div>

        </div>
        <div class="show_photo_review__user_name">{{userName}}</div>
    </div>
</div>